<ion-view class="white-text" hide-nav-bar="true" id="laoding" style="background-color:#4A90E2;">

  <ion-content scroll="false">
    <div>
      <img src="img/LodzAhoyLogoWhite.png" width="40%" height="auto" style="display: block; margin-top: 25%; margin-left: auto; margin-right: auto; ">
    </div>
    <div>
      <img src="img/LodzAhoyLoadingWheelWhite.png" width="15%" height="auto" style="display: block; margin-top: 45%; margin-left: auto; margin-right: auto; ">
      <ion-spinner class="spinner-light";  icon="ripple"></ion-spinner>
    </div>
  </ion-content>
</ion-view>
