<!--<script type="text/javascript">
var url ='#/login';
var delay = 4;
var d = delay * 1000;window.setTimeout ('parent.location.replace(url)', d);
</script>-->

<ion-view class="white-text" hide-nav-bar="true" id="loading" style="background-color:#4A90E2;">
  <ion-content scroll="false">
    <div>
      <a href="#/login"><img src="img/LodzAhoyLogoWhite.png" width="40%" height="auto" style="display: block; margin-top: 25%; margin-left: auto; margin-right: auto; "></a>
    </div>
    <div>
      <!-- <ion-spinner class="spinner-light";  icon="ripple"; ></ion-spinner> //-->
      <ion-spinner class="spinner-light" ; icon="ripple" ;></ion-spinner>
    </div>
  </ion-content>
  </div>
  </ion-content>
</ion-view>