<ion-view title="Login" class="white-text" hide-nav-bar="true" id="login" style="background-color:#4A90E2;">
  <ion-content scroll="false">
    <div>
      <img src="img/logo.png" width="50%" height="auto" style="display: block; margin-top: 80px; margin-left: auto; margin-right: auto; margin-bottom: 60px;">
    </div>
    <div class="list list-inset" style="width: 65%; margin-bottom: 150px;">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>
    <!-- <button class="button button-large button-positive">Log in</button> -->
    <center><a class="login" href="register">Create an account >></a></center>
  </ion-content>
</ion-view>