<ion-view title="Login" class="white-text" hide-nav-bar="true" id="login" style="background-color:#4a90e2;">
  <ion-content scroll="false">
    <div>
      <img src="img/LodzAhoyLogoWhite.png" width="30%" height="auto" style="display: block; margin-top: 80px; margin-left: auto; margin-right: auto; margin-bottom: 60px;">
    </div>
    <div class="row">
    <div class="list list-inset col-55" style="margin-bottom: 130px; margin-left:15px; margin-right:15px">
      <label class="item item-input">
        <input type="text" style="font-family:Verdana; font-size: 13px" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" style="font-family:Verdana; font-size: 13px" placeholder="Password">
      </label>
    </div>
    <button class="button button-large button-white login col" style="color: #4A90E2;"><img src="img/anchor.png" style="height: 55px;"><br><div style="margin-top: -30px;">Log in</div></button>
    </div>
    <center><a class="login" href="register">Create an account >></a></center>
  </ion-content>
</ion-view>
