<ion-view title="Area Information" id="page9">
    <ion-content padding="true" class="has-header">
        <h1 id="areaInformation-heading2" style="text-align:center;">Manufaktura</h1>
        <div>
        <img src="img/manufaktura.jpg" style="width: 100%;">
        </div>
        <div id="areaInformation-markdown3" style="text-align: justify;">
            <p>The Manufaktura complex today is the direct result of Poland’s largest renovation project since the reconstruction of Warsaw’s Old Town in the 1950s. The history of the site is one of fortunes made and lost, of war, nationalisation and destitution.
                What you see before you was once a series of factories – all producing various textiles – that were constructed in the latter part of the 19th century.</p>
        </div>
		<a href="#/puzzels"<button class="button button-block button-positive">
			Next!
		</button></a>
    </ion-content>
</ion-view>