<ion-view title="Map">
<ion-content>
	
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3110.105852375899!2d19.446463084523845!3d51.77888190568972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1474383320252" width="450" height="600" frameborder="0" style="border:0" ></iframe>
  
</ion-content>
  
  <div class="tabs tabs-background-positive tabs-icon-top">
    <a href="#/startPlace" class="tab-item">
      <i class="icon ion-android-list active"></i> List
    </a>
    <a href="#/maps" class="tab-item active">
      <i class="icon ion-map"></i> Maps
    </a>
  </div>
  
</ion-view>