<ion-view view-title="New Game">
  <ion-pane>
    <ion-header-bar class="bar-positive">
      <h1 class="title">New Game</h1>
      <button class="button icon ion-help"></button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="row">
        <div class="col col-20"></div>
        <div class="col col-60">
          <a href="#/startPlace">
            <button class="button button-block button-positive">
              Single player
            </button>
          </a>
        </div>
      </div>
      <div class="col col-20"></div>
      <div class="row">
        <div class="col col-20"></div>
        <div class="col col-60">
          <a href="#/startPlace">
            <button class="button button-block button-positive">
              Multiplayer
            </button>
          </a>
        </div>
        <div class="col col-20"></div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>