<ion-view view-title="Start a new game">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"> Back</i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <center>
      <button class="button button-block button-positive" style="margin-top: 150px; margin-bottom: 10px;">
        Single player
      </button>
      <br>
      <button class="button button-block button-positive" style="margin-bottom: 10px;" onclick="showSplit()">
        Multiplayer
      </button>
    </center>
    <ion-toggle id="splitMode" style="border: 0px; margin-bottom: 80px; visibility:hidden;">
      Split mode
    </ion-toggle>
    <center><a class="positive" href="#" style="text-decoration: none;">What's the difference?</a></center>
  </ion-content>
</ion-view>